@charset "UTF-8";

h2{
	margin: 1% 6%;
	font-size: 1.5em;
}

body{
	background-image: none;
}

.main{
	background: #008B8B;
	margin: 15% auto 1%;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	display: block;
	padding: 2%;
	box-shadow: none;
}

label.control-nav p, nav a{
	margin-left: 6%;
}

fieldset{
	margin: 1% 6%;
	border-radius: 3px;
}
/*input number m1*/
.input-one{
	width: 18%;
}
/*input number dicliplina e integrada*/
.input-two{
	margin-top: 8%;
	width: 22%;
}
/*style of submit and links*/
.input-button{
	font-size: 90%;
	text-indent: 0px;
	padding: 1%;
	margin: 100%;
	margin: 3% 3%;
	width: 20%;
	min-height: 30px;
	background-color: #4169E1;
	border-radius: 3px;
	margin-left: 7%;
}

input[type=reset]{
	margin-left: 1%;
}

#back{
	margin: 4% 0% 8% 8%;
}

table{
	height: auto;
	border: 0px;
	padding: 6%;
}

.choice-field{
	float: right;
	min-width: 50%;
	margin: 3% 1%;
	display: inline;
}

input[type="radio"]{
	width: 10%;
	display: block-inline;
	margin-top: 1%;
}

.field-border label{
	font-size: 82%;
}

#warning{
	font-size: 75%;
	display: block;
}

.main-about {
  background: #008B8B;
  margin: 15% auto 1%;
  width: 98%;
  box-shadow: none;
}

.main-about h2{
	color: #FFF;
	padding: 2%;
	border-bottom: 1px solid #00FFFF;
}

.main-about p {
	color: #FFF;
	padding: 2%;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.main-about a {
	color: #00FFFF;
}

.main-about strong{	
	color: #FFF;	
}

.foot{
	display: none;
}

.fb-comments{
	width: auto;
	display: block;
	z-index: 1;
}




